NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SITE_URL=https://www.rilog.kr
NEXT_PUBLIC_DEV_MASTER_TOKEN=
NEXT_PUBLIC_S3_BUCKET_URL=

# PostHog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token
NEXT_PUBLIC_POSTHOG_HOST=your_posthog_host

# Sentry
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENABLED=false

# 로컬 환경에서 Sentry를 테스트할 때 아래 스크립트로 실행하세요
# NEXT_PUBLIC_SENTRY_ENABLED=true pnpm dev
