@import 'tailwindcss';
@import '../features/post-write/styles/blocknote-shadcn.css';
@import '../shared/styles/tokens/index.css';
@import '../shared/ui/button/button.css';
@import '../shared/ui/modal/modal.css';

@source '../../node_modules/@blocknote/shadcn';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--background);
	color: var(--text-primary);
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
