.page-shell {
	container-name: page-shell;
	container-type: inline-size;
}

.page-shell-header,
.page-shell-content {
	width: 100%;
	max-width: 48rem;
	margin-inline: auto;
}

.page-shell-content {
	display: grid;
	grid-template-columns: minmax(0, 48rem);
}

.page-shell-main {
	grid-column: 1;
	min-width: 0;
}

.page-shell-aside {
	display: none;
}

@container page-shell (min-width: 61rem) {
	.page-shell-content[data-has-left-aside='false'][data-has-right-aside='true'] {
		max-width: none;
		grid-template-columns: minmax(13.5rem, 1fr) minmax(0, 48rem) minmax(13.5rem, 1fr);
		column-gap: 0;
	}

	.page-shell-content[data-has-left-aside='false'][data-has-right-aside='true'] .page-shell-main {
		grid-column: 2;
	}

	.page-shell-content[data-has-left-aside='false'][data-has-right-aside='true'] .page-shell-aside-right {
		display: block;
		grid-column: 3;
		width: min(15rem, 100%);
		justify-self: center;
	}
}

@container page-shell (min-width: 75rem) {
	.page-shell-content[data-has-left-aside='true'] {
		max-width: none;
		grid-template-columns: minmax(13.5rem, 1fr) minmax(0, 48rem) minmax(13.5rem, 1fr);
		column-gap: 0;
	}

	.page-shell-content[data-has-left-aside='true'] .page-shell-main {
		grid-column: 2;
	}

	.page-shell-content[data-has-left-aside='true'] .page-shell-aside-left {
		display: block;
		grid-column: 1;
		width: min(15rem, 100%);
		justify-self: center;
	}

	.page-shell-content[data-has-left-aside='true'][data-has-right-aside='true'] .page-shell-aside-right {
		display: block;
		grid-column: 3;
		width: min(15rem, 100%);
		justify-self: center;
	}
}

.page-shell-header-full {
	max-width: none;
}

.page-shell-header-sticky {
	position: sticky;
	top: 0;
	z-index: 20;
	background: var(--background);
}
