@theme {
	--font-sans:
		'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Apple SD Gothic Neo',
		'Noto Sans KR', 'Malgun Gothic', sans-serif;

	--text-100: 0.875rem;
	--text-100--line-height: 1.375rem;
	--text-200: 1rem;
	--text-200--line-height: 1.5rem;
	--text-300: 1.25rem;
	--text-300--line-height: 1.875rem;
	--text-900: 4rem;
	--text-900--line-height: 4rem;
}
